<!-- Nav tabs -->
<div class="container-fluid">
  <h1 class="text-center mt-5"> Welcome to, <i>Guest Book App!</i></h1>
    <div class="row mt-5" id="user">
        <div class="col-12 col-sm-1 col-md-3 col-lg-4"></div>
        <div class="col-12 col-sm-10 col-md-6 col-lg-4">
            <div class="login-signup">
<!--                <ul class="nav nav-tabs text-center w-100">-->
<!--                    <li class="nav-item w-50">-->
<!--                        <a class="nav-link" routerLink="/login" routerLinkActive="active" data-toggle="tab" href="#login">Login</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item w-50">-->
<!--                        <a class="nav-link"  routerLink="/signup" routerLinkActive="active"data-toggle="tab" href="#signup">Signup</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                &lt;!&ndash; Tab panes &ndash;&gt;-->
<!--                <div class="tab-content">-->
<!--                    <div class="tab-pane container active">-->
<!--                        <router-outlet></router-outlet>-->
<!--                    </div>-->
<!--                </div> <br>-->
              <div class="list-group text-center">
                <a href="#" routerLink="login" data-toggle="tooltip" title="Login"
                   class="list-group-item list-group-item-action list-group-item-primary text-dark">
                  Click Here To Login
                </a>

                <a href="#" routerLink="signup" data-toggle="tooltip" title="Sign up"
                   class=" mt-3 list-group-item list-group-item-action list-group-item-warning text-dark">
                  Click Here To Signup
                </a>
              </div>
            </div>
            <!-- <a class="text-center w-100"><i>Terms & Conditions</i></a> -->
        </div>
        <div class="col-12 col-sm-1 col-md-3 col-lg-4"></div>
    </div>
</div>
