<input type="checkbox" value="" id="uploadImage" (change)="onOptionChange($event)">
<label class="form-check-label ml-2" for="uploadImage">
  <i>Select to Upload Image</i>
</label>

<div class="row mt-3">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <app-message></app-message>
  </div>
</div>

<fieldset *ngIf="!selectImage">
  <form [formGroup]="guestEntryForm" (ngSubmit)="onGuestEntryFormSubmit()" class="w-100" disabled="true">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <label for="guestBookEntryText">Guest Entry Text</label>
        <textarea class="form-control" formControlName="guestBookEntryText" id="guestBookEntryText" rows="6"></textarea>
        <div *ngIf="guestEntryForm.controls['guestBookEntryText'].invalid
          && (guestEntryForm.controls['guestBookEntryText'].dirty || guestEntryForm.controls['guestBookEntryText'].touched)">
          <div *ngIf="guestEntryForm.controls['guestBookEntryText'].errors.required">
            <i class="text-danger">Entry text is required.</i>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-12 col-lg-12 mt-3">
        <button type="submit" class="btn btn btn-success w-100" [disabled]="this.guestEntryForm.invalid">
          Create Entry
          <!-- <span class="material-icons text-success">check_circle</span> -->
        </button>
      </div>
      <div class="col-6 col-sm-6 col-md-12 col-lg-12">
        <button type="reset" class="btn btn btn-secondary w-100" >
          Clear
          <!-- <span class="material-icons text-danger">cancel</span> -->
        </button>
      </div>
    </div>
  </form>
</fieldset>

<fieldset *ngIf="selectImage">
  <form [formGroup]="guestEntryImageForm" (ngSubmit)="onGuestEntryImageFormSubmit()" class="w-100">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <input type="file" formControlName="file" id="file" (change) = onFileChanged($event)>
      </div>
      <div class="col-6 col-sm-6 col-md-12 col-lg-12 mt-3">
        <button type="submit" class="btn btn btn-success w-100" [disabled]="selectedFile == null">
          Create Entry
          <!-- <span class="material-icons text-success">check_circle</span> -->
        </button>
      </div>
      <div class="col-6 col-sm-6 col-md-12 col-lg-12">
        <button type="reset" class="btn btn btn-secondary w-100" (click)="clearImageSelection()">
          Clear
          <!-- <span class="material-icons text-danger">cancel</span> -->
        </button>
      </div>
    </div>
  </form>
</fieldset>

